
ClassySharkAndroid/.idea/

ClassySharkAndroid/out/

ClassySharkAndroid/tests/

ClassySharkAndroid/app/app.iml

ClassySharkAndroid/gradle.properties

ClassySharkAndroid/gradle/wrapper/gradle-wrapper.jar

ClassySharkAndroid/gradle/wrapper/gradle-wrapper.properties

ClassySharkAndroid/gradlew

ClassySharkAndroid/gradlew.bat

ClassySharkWS/ClassySharkWS.iml

ClassySharkWS/.idea/

ClassySharkWS/out/

*.dex

*.class

*.html

*.properties

*.txt

ClassySharkWS/*_dump

ClassySharkWS/ClassyShark*.jar
