
ClassySharkWS/.idea/

ClassySharkWS/out/

ClassySharkWS/tests/


ClassySharkAndroid/.idea/

ClassySharkAndroid/out/

ClassySharkAndroid/tests/

ClassySharkAndroid/app/app.iml

ClassySharkAndroid/gradle.properties

ClassySharkAndroid/gradle/wrapper/gradle-wrapper.jar

ClassySharkAndroid/gradle/wrapper/gradle-wrapper.properties

ClassySharkAndroid/gradlew

ClassySharkAndroid/gradlew.bat

ClassySharkWS/ClassySharkWS.iml

.idea/.name

.idea/ClassySharkSpy.iml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

ClassySharkWS/classes-dex2jar.jar

*.dex

ClassySharkWS/*.java

Scenarios/.idea/*.*

*.class

Scenarios/.idea/artifacts/Scenarios_jar.xml

Scenarios/.idea/copyright/profiles_settings.xml

Scenarios/out/production/Scenarios/META-INF/MANIFEST.MF

*.html

*.properties

*.txt

ClassySharkWS/*_dump
